<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :total_amount %><br>
    <%= f.number_field :total_amount %>
  </div>
  <div class="field">
    <%= f.label :discount %><br>
    <%= f.radio_button :discount,"true"%>YES
    <%= f.radio_button :discount,"false"%>NO
  </div>
  <div class="field">
    <%= f.label :amount %><br>
    <%= f.number_field :percentage %>
  </div>

  <div class="field">
    <%= f.check_box :auto_generate, :checked => "checked"%> Automatically generate installments
  </div>
  
  <div class="field">
    <%= f.label :installments %><br>
    <%= f.number_field :emi_option ,"min"=>1,"max"=>12%>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
