<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Total amount:</strong>
  <%= @user.total_amount %>
</p>

<p>
  <strong>Discount:</strong>
  <%= @user.discount %>
</p>

<% if @user.discount %>
  <p>
    <strong>Discount Amount:</strong>
    <%= @user.percentage %>
  </p>
<% end %>

<% if @user.emi_option.present? %>
  <p>
    <strong>Number of Installments:</strong>
    <%= @user.emi_option %>
  </p>
<% end %>

<%= button_to 'Edit User', edit_user_path(@user), :method => "get" %>
<br><br>

<%@installments = @user.installments%>

<% if @installments.count > 0 %>

  <h1>Listing Installments</h1>

  <table>
    <thead>
      <tr>
        <th>Due date</th>
        <th>Payment date</th>
        <th>Status</th>
        <th>Amount</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @installments.each do |installment| %>
        <tr>
          <td><%= installment.due_date %></td>
          <td><%= installment.payment_date %></td>
          <td><%= installment.status %></td>
          <td><%= installment.amount %></td>
          <% if installment.status.downcase != 'paid' %>
            <td><%= link_to 'Edit', edit_installment_path(installment) %></td>
            <td><%= link_to 'Destroy', installment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

<% end %>
<br>

<%= button_to 'Add Installment', new_installment_path, :method => "get" %>

