<p id="notice"><%= notice %></p>

<p>
  <strong>Due date:</strong>
  <%= @installment.due_date %>
</p>

<p>
  <strong>Payment date:</strong>
  <%= @installment.payment_date %>
</p>

<p>
  <strong>Status:</strong>
  <%= @installment.status %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @installment.amount %>
</p>


<%= button_to 'Edit', edit_installment_path(@installment), :method => "get" %>
